---
- name: Ensure Caddy working directory exists
  file:
    path: "/home/kaca/caddy-docker"
    state: directory

- name: Template Caddyfile
  template:
    src: Caddyfile.j2
    dest: "/home/kaca/caddy-docker/Caddyfile"

- name: Template Landing Page
  template:
    src: index.html.j2
    dest: "/home/kaca/caddy-docker/index.html"

- name: Template Docker Compose file
  template:
    src: docker-compose.j2
    dest: "/home/kaca/caddy-docker/docker-compose.yml"

- name: Deploy Caddy
  community.docker.docker_compose_v2:
    project_src: "/home/kaca/caddy-docker"
    state: present
