- name: Ensure Suricata config directory exists
  file:
    path: /opt/lab/suricata/config
    state: directory
    mode: '0755'

- name: Template suricata.yaml
  template:
    src: suricata.yaml.j2
    dest: /opt/lab/suricata/config/suricata.yaml
    mode: '0644'

- name: Deploy Suricata via Docker Compose
  community.docker.docker_compose_v2:
    project_src: "/home/kaca/suricata-docker/"
    files:
      - docker-compose.yml
    state: present
