---
- name: Ensure Caddy working directory exists
  file:
    path: {{ ansible_user_dir }}/caddy-docker
    state: directory

- name: Template Caddyfile
  template:
    src: Caddyfile.j2
    dest: {{ ansible_user_dir }}/caddy-docker/Caddyfile

- name: Template Landing Page
  template:
    src: index.html.j2
    dest: {{ ansible_user_dir }}/caddy-docker/index.html

- name: Template Docker Compose file
  template:
    src: docker-compose.j2
    dest: {{ ansible_user_dir }}/caddy-docker/docker-compose.yml

- name: Deploy Caddy
  community.docker.docker_compose_v2:
    project_src: {{ ansible_user_dir }}/caddy-docker
    state: present
